extends layout

block content
  main(role="main").col-md-9.ml-sm-auto.col-lg-10.px-4
    .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
      h1.h2 Dashboard
      .btn-toolbar.mb-2.mb-md-0
        .btn-group.mr-2
          button(type='button').btn.btn-sm.btn-outline-secondary Share
        button(type='button').btn.btn-sm.btn-outline-secondary.dropdown-toggle
          span(data-feather='calendar')
          | This week
    canvas(width='900',height='380')#myChart.my-4.w-100
    
    h2 Section Title
      p This is paragraph text!
    
