doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport',content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title= title
    
    // Include Bootstrap and jQuery
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    
    // Include Custom Stylehsheets
    link(rel='stylesheet', href='/stylesheets/login.css')
  body
    form.form-signin
      .text-center.mb4
      img(src='/docs/',alt='',width='72',height='72').mb-4
      h1.h3.mb-3.font-weight-normal Floating Labels
      p Build form controls with floating labels via the
        code :placeholder-shown
        | pseudo-element.
        a(href='https://caniuse.com/#feat=css-placeholder-shown') Works in the latest Chrome, Safari, and Firefox.
        
      
      
    
    
    
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js")
    script(src="/javascripts/login.js")
